
    html,
    body {
      background-image: url("https://www.nationalgeographic.com/content/dam/travel/2017-digital/utah/zion-national-park/watchman-zion-national-park.ngsversion.1497468749547.adapt.1900.1.jpg");
      background-color:burlywood;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "Helvetica";
    }

    #mainWindow {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;



    }

    #title {
      background-color:burlywood;
      width: 1394px;
      height: 10%;
      padding:10px;
      margin: 10px;
      font-size: 24pt;
      font-weight: 700;
      font-family: 'Times New Roman', Times, serif;
      display: flex;
      align-items: center;
      color: rgb(85, 63, 7);
      border: 2px black solid;
      opacity: 0.9;
  
    }

    #bottom_stuff{
      display: flex;
    }

    #rightPane {
      background-color: rgb(241, 211, 173);
      margin: 10px;
      width: 858px;
      padding: 10px 10px 10px 25px;
      height: 600px;
      position: static;
      border: 2px black solid;
      color: rgb(75, 55, 5);
      opacity: 0.9;
    }
    #survey {
      margin-top: 30px;
      font-size: 30px;
    }
    #map {
      width: 500px;
      height: 620px;
      margin: 10px;
      padding: 0px;
      border: 2px black solid;
    }

    #quote {
      font-style: italic;
      color: orange;
      padding-right: 60px;
    }
    #messages {
      font-size: 16px;
    }
    img{
      height: 150px;
      width: 250px;
      margin-top: 20px;
    }

    #joke {
      font-style: italic;
      color: rgb(43, 42, 40);
      padding-right: 60px;
      font-size: 14px;
    }
  
    #edit_delete {
      margin-top: 280px;
      background-color: slategray;
      padding: 50px;
      font-size: 15px;
    }

    #starWars{
      font-size: 12px;
      color: red;
    }