
    html,
    body {
      background-color:burlywood;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: "Helvetica";
    }

    #mainWindow {
      width: 100%;


    }

    #title {
      background-color:bisque;
      width: 1394px;
      height: 10%;
      padding:10px;
      margin: 10px;
      font-size: 24pt;
      font-weight: 700;
      font-family: 'Times New Roman', Times, serif;
      display: flex;
      align-items: center;
  
    }

    #bottom_stuff{
      display: flex;
    }

    #rightPane {
      background-color: bisque;
      margin: 10px;
      width: 858px;
      padding: 10px 10px 10px 25px;
      height: 600px;
      position: static;

    }
    #survey {
      margin-top: 30px;
      font-size: 30px;
    }
    #map {
      width: 500px;
      height: 620px;
      margin: 10px;
      padding: 0px;
    }

    #quote {
      font-style: italic;
      color: orange;
      padding-right: 60px;
    }
    #messages {
      font-size: small;
    }
    img{
      height: 150px;
      width: 250px;
      margin-top: 20px;
    }
  